
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    .iletisim {
       border:5px solid transparent;
       border-color:red;
       width:500px;
       margin-left:35%;
       height:600px;
       margin-top:5%;
       margin-bottom:5%;

    }

    h3 {
        text-align: center;
        color: red;
        font-size: 30px;
    }

    h4 {
        text-align: center;
        color: black;
        background-color: rgb(252, 170, 184);
        font-size: 25px;
    }
  
</style>
<div class="iletisim">
    <h3><b>ADRES</b></h3>
    <h4>Bostanlı Mahallesi,1700.Sokak, Karşıyaka/İZMİR</h4>
    <h3><b>TELEFON NUMARASI</b></h3>
    <h4>0232 565 88 99</h4>
    <h3><b>E-MAIL ADRESİ</b></h3>
    <h4>naileditiletisim@gmail.com</h4>
    <h4>Her gün 10.00 ve 21.00 saatleri arası hizmetinizdeyiz.</h4>

</div>





